#toolbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 12px;
    //width: 100%;
    position: sticky;
    top: 60px;
    pointer-events: none;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 2px 4px);
}

#filterToolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;


    div {
        width: min-content;
        height: auto;
        padding: 5px 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        border-radius: 30px;
        background: #e9e5d4;
        pointer-events: all;
    }
}

.inputWrapper {
    padding: 5px 10px 5px 5px;
}

select.noAppearance {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectChevron {
    font-weight: 600;
    font-size: 20px;
    transform: translateY(1px);
}